.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred!important;
}

.nav-link:hover{
    font-weight: 600;
    color: darkred;
}

.imagem-carrossel-one {
    object-fit: cover;
    object-position: 0 85%;
    height: 350px;
}

.imagem-carrossel-two {
    object-fit: cover;
    object-position: 0 60%;
    height: 350px;
}

.carousel-caption {
    padding-top: 0;
}

.card-largura {
    max-width: 20rem;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.botao-cor-especial:hover {
    background-color: darkred;
    opacity: 80%;
    border-color: darkred;
    color: white;
    box-shadow: 1px 1px 5px 1px darkgrey ;
    transition: 250ms;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.email-contato {
    text-decoration: none;
}

.email-contato:hover {
    text-decoration: underline;
}